$purple: #5833c3;
$lightPurple: #f9f6ff;
$darkGrey: #5b5b5b;
$lightGrey: #a8a8a8;

.ProfileInfoContainer {
	display: flex;
	flex-direction: row;

	img {
		height: 100px;
		width: 100px;
		border-radius: 50%;
	}

	.userContainer {
		line-height: 1.25;
		margin: auto 10px;

		.name {
			color: $darkGrey;
			font-size: 16px;
			font-weight: bold;
		}

		.handle {
			color: $lightGrey;
			font-size: 12px;
		}
	}
}
